@media screen and (min-width: 480px){

}

@keyframes navigationBar{
	0%{
		top: -200px;
	}

	100%{
		top: 0px;
	}
}

:root{
	--colorGray: #232323;
	--colorBlue: #97E5FF;
	--colorOrange: #FFDA8B;
	--colorRed:  #FF8A8A;
	--normalFontSize: 1em;  /* 1em = 16px*/
	--fontFamily: Helvetica, Arial, sans-serif;
}

html{
	background-image: url(/image/HomeIntro.jpg);
	background-color: var(--colorGray);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: top;
}

body{
	display: flex;
	font-family: var(--fontFamily);
	font-size: var(--normalFontSize);
	margin: auto;
}

header{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 20px;
	width: 100%;
}

h1{
	font-family: var(--fontFamily);
	font-size: calc(5 * var(--normalFontSize));
	font-style: normal;
	color: var(--colorBlue);
	text-shadow: 4px 4px 8px var(--colorBlue);
	margin: 20px 0px 0px 60px;
}

nav{
	display: inline-flex;
	animation-fill-mode: forwards;
	animation-name: navigationBar;
	animation-duration: 1.5s;
	position: relative;
	margin: 20px 60px 0px 0px;
	width: 40%;
	float: right;
}

nav ul{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

nav li{
	display: inline-flex;
}

a{
	font-family: var(--fontFamily);
	font-size: calc(1.25 * var(--normalFontSize));
	font-weight: normal;
	border: 2px groove #ffffff;
	border-radius: 4px;
	box-shadow: 0px 0px 7px grey;
	background: rgba(51,51,51, 0.5);
	color: var(--colorOrange);
	text-align: center;
	text-decoration: none;
	transition-property: background;
	transition-duration: 300ms;
	transition-timing-function: ease-out;
	padding: 16px;
	margin: 8px;
	width: 125px;
}

a:hover{
	background: #333333;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(255,218,139, 0.2));
}

a.currentPage{
	background: #4E4E4E;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(151,229,255, 0.2));
}

a:active{
	background: #4E4E4E;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(151,229,255, 0.4));
}

p{
	text-align: justify;
	text-indent: 20px;
	line-height: 1.2;
	font-family: var(--fontFamily);
	word-wrap: break-word;
	word-break: keep-all;
	color: var(--colorOrange);
	overflow: auto;
}

span.important{
	color: var(--colorRed);
}

.responsiveFull{
	width: 100%;
	height: auto;
}

.hidden{
	display: none;
}

.hiddenWithLayout{
	visibility: hidden;
}
