@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@media screen and (min-width: 480px){

@keyframes navigationBar{
	0%{
		top: -200px;
	}

	100%{
		top: 0px;
	}
}

:root{
	--themeGray: hsla(180, 8%, 15%, 1.0);
	--themeRed: hsla(2, 100%, 63%, 1.0);
	--themeGreen: hsla(127, 67%, 64%, 1.0);
	--themeBlue: hsla(233, 56%, 64%, 1.0);
	--themeWhite: hsla(0, 0%, 96%, 1.0);
	--themeClear: hsla(180, 8%, 15%, 0.9);

	--linkBackground: hsla(180, 8%, 15%, 0.9);
	--linkCurrentPage: hsla(233, 56%, 64%, 0.8);
	--linkHover: hsla(2, 100%, 63%, 0.8);
	--linkActive: hsla(233, 56%, 64%, 0.8);

	--headerFontSize: 4rem;
	--navigationFontSizeScalar: 1.2;
	--normalFontSize: 1rem;
	--fontFamily: 'Noto Sans TC', Helvetica, sans-serif;
}

html{
	font-size: 20px;
	font-family: var(--fontFamily);
	background-image: url(../image/HomeIntro.jpg);
	background-color: var(--themeGray);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: top;
}

body{
	margin-top: 4rem;
}

header{
	display: block;
	position: relative;
	width: 100%;
}

h1{
	font-size: var(--headerFontSize);
	font-style: normal;
	color: var(--themeWhite);
	text-shadow: 0px 0px 0.5rem var(--themeWhite);
	text-align: center;
	margin: auto;
}

nav{
	display: block;
	animation-fill-mode: forwards;
	animation-name: navigationBar;
	animation-duration: 1.5s;
	position: fixed;
	width: 100%;
	margin: 0;
	z-index: 50;
}

nav ul{
	display: block;
	overflow: hidden;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

nav ul li{
	float: left;
}

nav ul li.floatRight{
	float: right;
}

nav a{
	display: block;
	color: var(--themeWhite);
	padding: calc(var(--navigationFontSizeScalar) * 0.5rem);
	width: auto;
	height: calc(var(--navigationFontSizeScalar) * 2.5rem);
	margin-bottom: 0.5rem;
	text-shadow: 0px 0px 0.4rem var(--themeWhite);
	box-shadow: 0px 0px 0.5rem var(--themeWhite);
}

nav a.logo{
	padding: calc(var(--navigationFontSizeScalar) * 0.1rem);
	width: calc(var(--navigationFontSizeScalar) * 2.6rem);
	height: calc(var(--navigationFontSizeScalar) * 2.5rem);
}

a{
	font-size: calc(var(--navigationFontSizeScalar) * var(--normalFontSize));
	font-weight: normal;
	background: var(--linkBackground);
	color: var(--themeBlue);
	text-align: center;
	text-decoration: none;
	transition-property: background;
	transition-duration: 1000ms;
	transition-timing-function: ease-out;
}

a:hover{
	background: var(--linkHover);
	background: linear-gradient(var(--themeClear), var(--themeClear), var(--themeClear), var(--linkHover));
	transition-duration: 0ms;
}

a.currentPage, a#currentPage{
	background: var(--linkCurrentPage);
	background: linear-gradient(var(--themeClear), var(--themeClear), var(--themeClear), var(--linkCurrentPage));
	transition-duration: 0ms;
}

a:active{
	background: var(--linkActive);
	background: linear-gradient(var(--themeClear), var(--themeClear), var(--themeClear), var(--linkActive));
	transition-duration: 0ms;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

img.logo{
	display: block;
	clear: both;
	width: auto;
	height: calc(var(--navigationFontSizeScalar) * 2.25rem);
	margin: auto;
}

p{
	text-align: justify;
	text-indent: 1rem;
	line-height: 1.5;
	word-wrap: break-word;
	word-break: keep-all;
	color: var(--themeWhite);
	overflow: auto;
}

.important{
	color: var(--themeRed);
}

.responsiveFull{
	width: 100%;
	height: auto;
}

.hidden{
	display: none;
}

.hiddenWithLayout{
	visibility: hidden;
}

.row{
	display: flex;
	width: 100%
}

.row::after{
	display: block;
	clear: both;
	content: "";
}

/* Total number add up to 12. */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*{
	box-sizing: border-box; /* Make margin, border, and padding count in total dimension. */
}

[class*="col-"]{
	border: 2px;
	border-style: solid;
	border-color: var(--themeRed);
	padding: 15px;
	float: left;
}
